@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import "tailwindcss";

.varela-round-regular {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@theme {
  --font-varela: "Varela Round", sans-serif;
  --animate-spin-and-slide: spin-and-slide 10s linear infinite;
  --animate-floating: floating 5s ease-in-out infinite;
}

@keyframes spin-and-slide {
  from {
    transform: translateY(0%) rotate(0deg);
  }

  to {
    transform: translateY(50px) rotate(360deg);
  }
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@layer theme {
  :root,
  :host {
    --default-font-family: "Varela Round", sans-serif;
  }
}

@layer theme {
  :root,
  :host {
    --default-font-family: "Varela Round", sans-serif;
  }
}
